 /* CSS reset */
 
 *,
 *::after,
 *::before {
     box-sizing: inherit;
     margin: 0;
     padding: 0;
 }
 
 html {
     font-size: 62.5%;
 }
 
 h1 {
     color: #484848;
     font-size: 50px;
     font-weight: bold;
     font-family: monospace;
     letter-spacing: 7px;
     cursor: pointer
 }
 
 h1 span {
     transition: .5s linear
 }
 
 h1:hover span:nth-child(1) {
     margin-right: 5px
 }
 
 h1:hover span:nth-child(2) {
     margin-left: 30px
 }
 
 h1:hover span {
     color: #F5D95A;
     text-shadow: 0 0 10px #F5D95A, 0 0 20px #fff, 0 0 40px #F5D95A;
 }
 
 .glitch {
     font-size: 5rem;
     font-weight: bold;
     text-transform: uppercase;
     position: relative;
     text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff, 0.025em 0.04em 0 #fffc00;
     animation: glitch 725ms infinite;
 }
 
 .glitch span {
     position: absolute;
     top: 0;
     left: 0;
 }
 
 .glitch span:first-child {
     animation: glitch 500ms infinite;
     clip-path: polygon(0 0, 100% 0, 100% 35%, 0 35%);
     transform: translate(-0.04em, -0.03em);
     opacity: 0.75;
 }
 
 .glitch span:last-child {
     animation: glitch 375ms infinite;
     clip-path: polygon(0 65%, 100% 65%, 100% 100%, 0 100%);
     transform: translate(0.04em, 0.03em);
     opacity: 0.75;
 }
 
 @keyframes glitch {
     0% {
         text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff, 0.025em 0.04em 0 #fffc00;
     }
     15% {
         text-shadow: 0.05em 0 0 #00fffc, -0.03em -0.04em 0 #fc00ff, 0.025em 0.04em 0 #fffc00;
     }
     16% {
         text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff, -0.05em -0.05em 0 #fffc00;
     }
     49% {
         text-shadow: -0.05em -0.025em 0 #00fffc, 0.025em 0.035em 0 #fc00ff, -0.05em -0.05em 0 #fffc00;
     }
     50% {
         text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff, 0 -0.04em 0 #fffc00;
     }
     99% {
         text-shadow: 0.05em 0.035em 0 #00fffc, 0.03em 0 0 #fc00ff, 0 -0.04em 0 #fffc00;
     }
     100% {
         text-shadow: -0.05em 0 0 #00fffc, -0.025em -0.04em 0 #fc00ff, -0.04em -0.025em 0 #fffc00;
     }
 }
 
 body {
     box-sizing: border-box;
     font-family: 'Open Sans', sans-serif;
     position: relative;
 }
 /* Typography =======================*/
 /* Headings */
 /* Main heading for card's front cover */
 
 .card-front__heading {
     margin-top: .25rem;
 }
 /* Main heading for inside page */
 
 .inside-page__heading {
     width: 100%;
 }
 /* Mixed */
 /* For both inside page's main heading and 'view me' text on card front cover */
 
 .inside-page__heading {
     font-size: 1.8rem;
     font-weight: 1000;
     margin-top: .2rem;
 }
 
 .inside-page__heading--city {
     color: black;
     padding: 3px;
     width: 140px;
     border: #F5D95A solid 2px;
     background-color: #F5D95A;
 }
 /* Front cover */
 /* For pricing text on card front cover */
 
 .card-front__text-price {
     font-size: 1.2rem;
     margin-top: -.2rem;
 }
 /* Back cover */
 /* For inside page's body text */
 
 .icon1 {
     margin-bottom: 0rem;
 }
 
 .f:hover {
     background-color: #F5D95A;
     color: #555;
 }
 
 .inside-page__text {
     color: rgb(10, 10, 10);
     padding: 15px;
     flex-wrap: nowrap;
     box-sizing: border-box;
     text-align: left;
     border: rgba(0, 0, 0, 0.25) solid 1px;
     font-size: 12px;
 }
 /* Icons ===========================================*/
 
 span.hh {
     color: #000;
     font-size: 13;
     text-align: center;
 }
 
 .inside-page__text:hover {
     opacity: .8;
     border: #F5D95A solid 4px;
     background-color: #e0dede;
 }
 
 .card-front__icon {
     fill: #fafbfa;
     font-size: 3vw;
     height: 3.25rem;
     margin-top: -.5rem;
     width: 3.25rem;
 }
 /* Buttons =================================================*/
 
 .inside-page__btn {
     background-color: transparent;
     border: 3px solid;
     border-radius: .5rem;
     font-size: 1.2rem;
     font-weight: 600;
     margin-top: 2rem;
     overflow: hidden;
     padding: .7rem .75rem;
     position: relative;
     text-decoration: none;
     transition: all .3s ease;
     width: 90%;
     z-index: 10;
 }
 
 .inside-page__btn::before {
     content: "";
     height: 100%;
     left: 0;
     position: absolute;
     top: 0;
     transform: scaleY(0);
     transition: all .3s ease;
     width: 100%;
     z-index: -1;
 }
 /* Layout Structure=========================================*/
 
 .main {
     display: flex;
     flex-direction: column;
     justify-content: center;
     height: 100%;
     width: 100%;
 }
 /* Container to hold all cards in one place */
 
 .card-area {
     align-items: center;
     display: flex;
     flex-wrap: nowrap;
     height: 100%;
     justify-content: space-evenly;
     padding: 1rem;
 }
 /* Card ============================================*/
 /* Area to hold an individual card */
 
 .card-section {
     align-items: center;
     display: flex;
     height: 100%;
     justify-content: center;
     width: 100%;
 }
 /* A container to hold the flip card and the inside page */
 
 .card {
     background-color: rgba(0, 0, 0, .05);
     box-shadow: -.1rem 1.7rem 6.6rem -3.2rem rgba(0, 0, 0, 0.5);
     height: 26rem;
     position: relative;
     transition: all 1s ease;
     width: 28rem;
 }
 /* Flip card - covering both the front and inside front page */
 /* An outer container to hold the flip card. This excludes the inside page */
 
 .flip-card {
     height: 26rem;
     perspective: 120rem;
     position: absolute;
     right: 50px;
     transition: all 1s ease;
     visibility: hidden;
     width: 18rem;
     z-index: 100;
 }
 /* The outer container's visibility is set to hidden. This is to make everything within the container NOT set to hidden  */
 /* This is done so content in the inside page can be selected */
 
 .flip-card>* {
     visibility: visible;
 }
 /* An inner container to hold the flip card. This excludes the inside page */
 
 .flip-card__container {
     height: 100%;
     position: absolute;
     right: 20px;
     transform-origin: left;
     transform-style: preserve-3d;
     transition: all 1s ease;
     width: 100%;
 }
 
 .card-front,
 .card-back {
     backface-visibility: hidden;
     height: 100%;
     left: 10;
     position: absolute;
     top: 0;
     width: 100%;
     border-radius: 10%;
 }
 /* Styling for the front side of the flip card */
 /* container for the front side */
 
 .card-front {
     background-color: #FFCD00;
     height: 26rem;
     width: 25rem;
     border-radius: 10%;
 }
 /* Front side's top section */
 
 .card-front__tp {
     border-radius: 10%;
     height: 19rem;
     padding: 0.05rem;
     background: #FFCD00
 }
 
 .card-front__tp--city {
     background: #F5D95A
 }
 
 .card-front__tp--ski {
     background: linear-gradient( to bottom, #47c2d7, #279eb2);
 }
 
 .card-front__tp--beach {
     background: linear-gradient( to bottom, #fb9b88, #f86647);
 }
 
 .card-front__tp--camping {
     background: linear-gradient( to bottom, #00db93, #00b97d);
 }
 /* Front card's bottom section */
 
 .card-front__bt {
     padding: 0.02rem;
     align-items: center;
     display: flex;
     justify-content: center;
 }
 /* Styling for the back side of the flip card */
 
 .card-back {
     background-color: #fafbfa;
     transform: rotateY(180deg);
 }
 /* Inside page */
 
 .inside-page {
     background-color: #DCDCDC;
     box-shadow: inset 30rem 0px 5rem -2.5rem rgba(0, 0, 0, 0.25);
     height: 100%;
     padding: 1rem;
     position: absolute;
     right: 0px;
     transition: all 1s ease;
     width: 25rem;
     z-index: 1;
     border-radius: 10%;
 }
 
 .inside-page__container {
     align-items: center;
     display: flex;
     flex-direction: column;
     height: 100%;
     text-align: center;
     width: 100%;
 }
 /* Functionality ====================================*/
 /* This is to keep the card centered (within its container) when opened */
 
 .card:hover {
     box-shadow: -.1rem 1.7rem 6.6rem -3.2rem rgba(0, 0, 0, 0.75);
     width: 26rem;
 }
 /* When the card is hovered, the flip card container will rotate */
 
 .card:hover .flip-card__container {
     transform: rotateY(-180deg);
 }
 /* When the card is hovered, the shadow on the inside page will shrink to the left */
 
 .card:hover .inside-page {
     box-shadow: inset 1rem 0px 5rem -2.5rem rgba(0, 0, 0, 0.1);
 }
 /* Footer ====================================*/
 
 .gear {
     background-color: #F5D95A;
     width: 110px;
     height: 110px;
     border-radius: 10%;
     margin: 90px auto;
     border: 5px solid black;
     position: relative;
 }
 
 .gear:after {
     content: "";
     width: 110px;
     height: 110px;
     border-radius: 100%;
     display: block;
     border: 8px dashed black;
     position: absolute;
     top: -22px;
     left: -24px;
     box-shadow: inset 0px 0 0 20px black;
     transform: scale(.5) rotate(0deg);
     animation: gear 6s linear infinite;
 }
 
 .gear:before {
     content: "";
     width: 78px;
     height: 78px;
     border-radius: 100%;
     display: block;
     border: 8px dashed black;
     position: absolute;
     top: 24px;
     right: -14px;
     box-shadow: inset 0px 0 0 10px black;
     transform: scale(.5) rotate(0deg);
     animation: gear2 4s linear infinite;
 }
 
 @keyframes gear {
     0% {
         transform: scale(.5) rotate(0deg);
     }
     100% {
         transform: scale(.5) rotate(360deg);
     }
 }
 
 @keyframes gear2 {
     0% {
         transform: scale(.5) rotate(0deg);
     }
     100% {
         transform: scale(.5) rotate(-360deg);
     }
 }